/__pycache__/
/core/.ipynb_checkpoints/
/core/__pycache__/
/data/processed/*
/data/source/*
/dev/.ipynb_checkpoints/
/dev/__pycache__/
/notebooks/.ipynb_checkpoints/
/notebooks/__pycache__/
/notebooks/catboost_info/
config.py